

.bg-dark {
  background-color: rgb(29, 127, 160)!important;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

.page-footer{
  background-color:#1c2331!important;;
  color: white;
}
.social-button{
  background-color: #5d687a;
  padding: 8px;
  border-radius: 50px;
}
.footer-cities{
  color: rgb(190, 183, 183);
}
.footer-cities:hover{
  color: whitesmoke;
  text-decoration: none;

}
footer-links a{
  font-size: 10px;
}
.login-button{
  color: rgb(155, 174, 192);
  background-color: rgb(29, 127, 160);
  border: 1px solid rgb(29, 127, 160);
}
.login-button:hover{
  color: white;
  background-color: rgb(29, 127, 160);
  border: 1px solid rgb(29, 127, 160);
}
.login-button:active{
  color: white;
  background-color: rgb(29, 127, 160);
  border: 1px solid rgb(29, 127, 160);
}
.login-image{
  width: 50px;
  border-radius: 25px;
}

.content-image{
  width:100%;
  margin-top: 30px;
  height: 200px;
}
.search_bar{
  
  padding-top: 20px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray;
}
.hiring-title{
  margin-left: 30px;
}
.hiring-com{
  
}
.mm{
  ;
}